@model IEnumerable<Passion.Models.Pet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Species.SpeciesClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetBreed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetWeight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Species.SpeciesClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PetBreed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PetWeight)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PetID })
        </td>
    </tr>
}

</table>
